* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial;
}

.btn {
    display: block;
    padding: 7px 15px;
    background: #69070b;
    float: left;
    color: #fff;
    border-radius: 7px;
}

.btn-lg {
    font-weight: bold;
    font-size: 30px;
}

.btn-success {
    background: #007b3b;
}

.no-border {
    border: none !important;
}

.clear
{
    clear: both;
}

.big-wrapper
{
    width: 100%;
    /*background-color: #9b9875;*/
}
/* start wrapper */
.big-wrapper .wrapper {
    width: 901px;
    min-height: 650px;
    /*background: #c3c3c3;*/
    margin: auto;
}

/* header */
.big-wrapper .wrapper header {
    overflow: hidden;
    padding: 15px 0;
}

.big-wrapper .wrapper header .logo {
    width: 20%;
    float: left;
}

.big-wrapper .wrapper header nav {
    width: 70%;
    float: right;
    line-height: 40px;
}
.big-wrapper .wrapper header nav ul {
    float: right;
}

.big-wrapper .wrapper header nav ul li {
    float: left;
    margin-right: 15px;
}

.big-wrapper .wrapper header nav ul li a {
    color: #000;
    border-right: 2px solid #bf802e;
    padding-right: 15px;
}
    /* end header */

/* banner */
.big-wrapper .wrapper .banner {
    height: 202px;
    background-image: url("../images/banner.png");
}

.big-wrapper .wrapper .banner p {
    font-size: 25px;
    float: right;
    width: 50%;
    margin-top: 80px;
}
.big-wrapper .wrapper .banner p span{
    font-size: 38px;
}
/* end banner */

/* main */
.big-wrapper .wrapper main{
    overflow: hidden;
}
.big-wrapper .wrapper main .content {
    width: 55%;
    overflow: hidden;
    float: left;
}

.big-wrapper .wrapper main .content h2 {
    font-size: 25px;
    color: #007b3b;
    padding: 15px 0;
}

.big-wrapper .wrapper main .content h6 {
    font-size: 13px;
    color: #0a356d;
    padding: 5px 0;
}

.big-wrapper .wrapper main .content p {
    font-size: 12px;
    color: #9b9875;
    padding-bottom: 25px;
}

.big-wrapper .wrapper main .art{
margin-top: 25px;
overflow: hidden;

}
.big-wrapper .wrapper main .art .gallery{
   float: left;
   width:55%;
   border-right: 2px dotted #9b9875;
}
.big-wrapper .wrapper main .art .drawing-tips{
    float: left;
    width: 35%;
    padding-left: 15px;
}
.big-wrapper .wrapper main .news{
    float: right;
    width: 40%;
    margin-top: 35px;
}


.big-wrapper .wrapper main .news .events {
    overflow: hidden;
    padding: 10px;
    border: 4px solid goldenrod;
    background-color: white;
}
.big-wrapper .wrapper main .news .events h2{
    font-size: 25px;
    color: #007b3b;
    padding: 15px 0;
}
.big-wrapper .wrapper main .news .events h6 {
    font-size: 13px;
    color: #0a356d;
    padding: 5px 0;
}
.big-wrapper .wrapper main .news .events p {
    font-size: 12px;
    color: #bf802e;
    padding-bottom: 25px;
    
}
.big-wrapper .wrapper main .news .best-of-the-month {
    background-color:cornflowerblue;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
}
.big-wrapper .wrapper main .news .best-of-the-month img{
 padding-top: 10px;
}
.big-wrapper .wrapper main .news .best-of-the-month h5{
    color: #007b3b;
    text-decoration: underline;
    font-weight: bold;
}
/* end main */

/* end wrapper */

.big-wrapper footer{
    background-color: darkgoldenrod;
    margin-top: 20px;
   
}
.big-wrapper footer .footer-inner{
    width: 901px;
    margin: auto;
    text-align: center;
    line-height: 35px;
}
.big-wrapper footer .footer-inner nav ul{
    margin-left: 230px;
    
}

.big-wrapper footer .footer-inner nav ul li {
    float: left;
    margin-right: 15px;
}

.big-wrapper footer .footer-inner nav ul li a {
    color: #000;
    border-right: 2px solid #000;
    color: white;
    padding-right: 15px;
}
.big-wrapper footer .footer-inner p{
    color: white;
}

